###############################################################################
# Log forwarder configuration for Windows nginx acess and error logs          #
# NOTE: nginx installations can vary.  Use the appropriate file:              #
#       log location that matches your environment / installation             #
# Source: file                                                                #
# Available customization parameters: attributes, max_line_kb, pattern        #
###############################################################################

logs:
  - name: nginx-access
    file: C:\Program Files\nginx*\logs\access.log
#   file: C:\<install_path>\logs\access.log
#   file: C:\<install_path>\logs\access_log.log
    attributes:
      logtype: nginx

  - name: nginx-error
    file: C:\Program Files\nginx*\logs\error.log
#   file: C:\<install_path>\logs\error.log
#   file: C:\<install_path>\logs\error_log.log
    attributes:
      logtype: nginx-error
