integration_name: com.newrelic.nginx

instances:
    - name: nginx-server-metrics
      command: metrics
      arguments:
          # If you're using ngx_http_api_module be certain to use the full path up to and including the version number
          status_url: http://127.0.0.1/status
    
          # Comma separated list of ngx_http_api_module, NON PARAMETERIZED, Endpoints
          # endpoints: /nginx,/processes,/connections,/ssl,/slabs,/http,/http/requests,/http/server_zones,/http/caches,/http/upstreams,/http/keyvals,/stream,/stream/server_zones,/stream/upstreams,/stream/keyvals,/stream/zone_sync
          # Name of Nginx status module OHI is to query against. discover | ngx_http_stub_status_module | ngx_http_status_module | ngx_http_api_module
          status_module: discover

          # New users should leave this property as `true`, to identify the
          # monitored entities as `remote`. Setting this property to `false` (the
          # default value) is deprecated and will be removed soon, disallowing
          # entities that are identified as `local`.
          # Please check the documentation to get more information about local
          # versus remote entities:
          # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
          remote_monitoring: true
      labels:
          env: production
          role: load_balancer

    - name: nginx-server-inventory
      command: inventory
      arguments:
          config_path: /etc/nginx/nginx.conf

          # New users should leave this property as `true`, to identify the
          # monitored entities as `remote`. Setting this property to `false` (the
          # default value) is deprecated and will be removed soon, disallowing
          # entities that are identified as `local`.
          # Please check the documentation to get more information about local
          # versus remote entities:
          # https://github.com/newrelic/infra-integrations-sdk/blob/master/docs/entity-definition.md
          remote_monitoring: true #new users should leave remote_monitoring = true
      labels:
          env: production
          role: load_balancer
